@import url(../fonts/GothamBook.css);
@import url(../fonts/GothamBold.css);
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: linear-gradient(to right, #920590, #051C92);
}
h1, h2, h4, h5, h6 {
	font-family: 'arial';
	font-weight: bold;
	letter-spacing: 1px;
}
h1{
	font-size: 25px;
}
h2{
	font-size: 20px;
}
h3{
	color: #C6ACFB;
}
h4{
	font-size: 16px;
}
h5{
	font-size: 14px;
}
h6{
	font-size: 12px;
}
p{
	font-family: 'GothamBook';
	letter-spacing: 2px;
	font-size: 14px;
	line-height: 20px;
}
a{
	text-decoration: none;
	font-family: arial;
	letter-spacing: 1px;
}
span {
	font-family: 'GothamBook';
	letter-spacing: 1px;
	font-size: 15px;
	line-height: 20px;
}
#container{
	background-image: linear-gradient(to right, #920590, #051C92);
	width: 100%;
	height: 100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-content: center;
	align-items: center;
}
#container form{
	background-image: linear-gradient(to right, #920590, #051C92);
	width: 500px;
	padding: 10px;
	border-radius: 7px;
	
}

#container form img{
	margin: auto;
	text-align: center;
	display: block;
	width: 170px;
	height: 170px;
}
#container form input{
	width: 40%;
	margin-bottom: 15px;
	padding: 15px;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid darkgray;
	padding: 10px 30px;
	display: inline-block;
	flex-wrap: wrap;
}

.btn-enviar{
	background: #71098D;
	color: #E687FF;
	margin: center;
	padding: 10px 40px;
	cursor: pointer;
	font-size: 20px;
}
.btn-enviar:active{
	transform: scale(1.05);
	
}
header{
	position: fixed;
	width: 100%;
}
.header{
	color: #B292F5;
	background: #230365;
	height: 35px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.optionsBar{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}
.optionsBar span {
	color: #B292F5;
	font-size: 15pt;
	font-family: 'GothamBook';
	margin-left: 30px;
}
.optionsBar a {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-left: 10px;
}
nav ul{
	background: #37069C;
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: left;
	align-items: center;
}
nav ul > li a{
	position: relative;
}
nav a{
	color: #B292F5;
	display: block;
	font-size: 15pt;
	font-family: 'GothamBook';
	padding: 15px 30px;
	letter-spacing: 2px;
	transition: background .5s;
	border-right: 1px solid #4409BD;
}
nav .principal > a{
	background: url("../img/arrow_bottom.png") no-repeat;
	background-position-x: 0%;
	background-position-y: 0%;
	background-position: 94% center;
	background-size: 10px;
}
nav ul li:hover ul{
	display: block;
}
nav li ul{
	background: #4409BD;
	display: none;
	flex-direction: column;
	position: absolute;
	align-items: flex-start;
	border-radius: 0 0 10px 10px;
}
nav li ul a{
	position: relative;
	padding: 10px 30px;
	border-right: initial;
}
nav li ul a:hover{
	background: #5808FD;
}
nav li ul li:last-child{
	border-radius: 0 0 10px 10px;
	overflow: hidden;
}
#container{
	background-image: linear-gradient(to right, #920590, #051C92);
	width: 100%;
	display: inline-block;
	text-align: center;
	padding: 110px 375px 375px;
	display: inline-block;
	border-radius: 7px;
}
.form_titulo{
	color: #A3A3E7;
	margin: auto;
	text-align: center;
	font-weight: 100;
	font-size: 30px;
	border-bottom: 5px solid crimson; 
}
.alert{
	width: 100%;
	background: #170145;
	border-radius: 6px;
	margin: 20px auto;
}
.msg_error{
	color: #E6D9FF;
}
.msg_save{
	color: #E6D9FF;
}
.alert p{
	padding: 12px;
}